{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Config": "./src/config",
          "@HomeScreen": "./src/screens/HomeScreen",
          "@ClientsScreen": "./src/screens/ClientsScreen",
          "@Assets": "./src/assets"
        }
      }
    ]
  ]
}
